# ignore environment variables file
.env

# ignore local database file
query_logs.db

# ignore jupyter notebook checkpoints
.ipynb_checkpoints/

# ignore python cache files
__pycache__/
*.pyc

# ignore any json files if you do not wish to commit them
*.json

jsons


app1.py 

Sales Playbook - Dec 2024 - Version to update (2).pdf
Sales Playbook - Dec 2024 - Version to update - Copy.pdf
Sales Playbook - RAG Updated v2copy3.pdf
Sales Playbook - RAG Updated v2copy4.pdf
Sales Playbook - RAG Updated v3.pdf
latest version sales playbook.pdf
Sales Playbook - RAG Updated v2copy5.pdf

Untitled.ipynb

demo.py

.devdbrc

explanation.md